<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Count Website</title>

    <h1>All about what we do</h1>
    <p>Word Counter is an easy to use online tool for counting words, characters, sentences, paragraphs and pages in real time, along with spelling and grammar checking. Get started by typing directly into the text area above or pasting in your content from elsewhere. Word and character counts will display at the top, any writing mistakes will be underlined and your most frequently used keywords will appear to the right.

You can also use Word Counter to track your text length against common web standards like Twitter's tweet character count (140), Google's meta description (300), and Facebook's average post display length (~250). If your text is longer than 360 characters the counter will show you the number of sentences, paragraphs and pages instead; useful metrics for blog posts, articles, papers, essays, dissertations and other long-form content.</p>
</head>
<body>

</body>
</html>